/* Fonts 
font-family: 'Lora', serif;
font-family: 'Poppins', sans-serif;

*/

:root {
  --spacer: 3rem;
  --box-shadow: 0.3rem 0.3rem 1.5rem rgb(0, 0, 0, 0.15);
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
}
body {
  font-size: 18px;
}
h1,
h2,
h3,
p,
figure {
  margin: 0;
  padding: 0;
}

/* Utilities */
ul[class],
ol[class] {
  padding: 0;
  margin: 0;
  list-style: none;
}

.flow-content > * + * {
  margin-top: var(--flow-spacer, var(--spacer));
}
/* Start Here */
* {
  font-family: "Poppins", sans-serif;
}

.hero__main-title {
  text-transform: uppercase;
  position: relative;
  margin-left: 25px;
}
h1 {
  font-size: 64px;
}
h1,
h4,
h3 {
  font-family: "Poppins", sans-serif;
  color: #f55d3a;
}
p {
  font-size: 18px;
}
.logo {
  font-size: 26px;
  font-weight: 700;
  color: #24126a;
}
span {
  color: #f55d3a;
}
.hero__tagline {
  font-family: "Lora", serif;
  font-size: 32px;
  font-weight: 300;
  color: #4a4a4a;
  margin: 7.5rem 67rem 5rem 15px;
}
header {
  margin: 40px 0;
  font-family: "Poppins", sans-serif;
}
ul {
  float: right;
  position: relative;
  top: -50px;
  color: #24126a;
  margin-right: 8.5rem;
}
li {
  display: inline-block;
  padding: 0 60px 0 0;
}
.hero__pumpkin {
  float: right;
  height: auto;
  margin-right: 10rem;
}
.page__holder {
  position: relative;
  margin: 0 auto;
  width: 1440px;
  left: -10px;
}
.container {
  height: 1020px;
  margin: 0 10rem 0 10rem;
}
.hero {
  margin-top: 100px;
}
a {
  text-decoration: none;
  color: #24126a;
  font-weight: 700;
}
.sign_up-btn {
  background-color: #24126a;
  color: #fffafb;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.829),
    0 17px 50px 0 rgba(0, 0, 0, 0.151);
  margin: 15px 0 0 15px;
}

.sub_title {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  text-align: center;
  color: #24126a;
  margin: 12rem 0;
}

.story_title {
  color: #24126a;
  font-size: 28px;
}
.stories_container {
  padding: 0 0 0 13.5rem;
}
.stories_container--row-one {
  display: grid;
  grid-template-columns: 30% 50%;
  gap: 1.5rem;
}
.stories_container--row-two {
  margin-top: 13rem;
  display: grid;
  grid-template-columns: 30% 50%;
  gap: 1.5rem;
}
.photo--right_position {
  grid-column: 1;
  grid-row: 1;
}
.story {
  font-family: "Lora", serif;
  color: #4a4a4a;
  line-height: 2.4rem;
}
.senyales_image {
  float: right;
}

.story__two {
  margin-right: -19rem;
}
.sub_title__authors {
  margin: 70rem 0 10rem 0;
}
.authors_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  padding: 0 17rem;
  margin-bottom: -10rem;
}
.profile__scarlette {
  margin-top: -12px;
  margin-bottom: -20px;
  margin-left: -15px;
}
.names {
  padding: 3rem;
  font-size: 28px;
}
.author__details {
  color: #4a4a4a;
  line-height: 4rem;
}
footer {
  color: #fffafb;
  position: relative;
  top: 40rem;
}
.box_overlay {
  position: absolute;
  border-radius: 5px;
  width: 160px;
  height: 300px;
  z-index: -1;
}
.cover-paramdam {
  position: absolute;
}
.cover-senyales {
  position: relative;
}
.box_overlay--orange {
  background-color: #f55d3a;
  left: -1rem;
  top: -1rem;
}
.box_overlay--mint {
  background-color: #1ac3c3;
  float: right;
  right: -1rem;
  top: -1rem;
}
footer,
.form,
.taunt {
  display: inline;
}

.email {
  width: 27%;
  height: 40px;
  margin-left: 50px;
  margin-right: 10px;
  border: none;
  position: relative;
  bottom: 15px;
}
.email_btn {
  font-size: 20px;
  color: #fffafb;
  background-color: #24126a;
  border: none;
  padding: 5px 20px;
  margin-left: 20px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  position: relative;
  bottom: 12px;
}
.taunt {
  margin-left: 15rem;
}
.note {
  text-align: center;
  margin-top: 5rem;
  font-weight: 600;
}
.bottom_background {
  position: absolute;
  z-index: -1;
}
